server {
    # Enforce HTTPS
    listen 80 default_server;
    server_name {{domain}};
    return 301 https://$server_name$request_uri;
}

server {
    listen 442 ssl default_server;
    root /var/www/{{domain}}/public;
    index index.html index.htm index.php;

    access_log /var/log/nginx/{{domain}}.log;
    error_log /var/log/nginx/{{domain}}-error.log error;

    server_name {{domain}};

    charset utf-8;

    include h5bp/basic.conf;

    ssl_certificate             {{ssl_crt}};
    ssl_certificate_key         {{ssl_key}};
    include h5bp/directive-only/ssl.conf;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location = /favicon.ico {log_not_found off; access_log off;}
    location = /robots.txt {log_not_found off; access_log off;}

    location ~ \.php$ {
        include snippets/fastcgi.conf;
        fastcgi_pass unix:/var/run/php7.1-fpm.sock;
    }
}